.page-container {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333333;
}

.startButton,.submitGuess {
    background-color: #5151e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.startButton:hover, .submitGuess:hover {
    background-color: #4141c5;
}
.languageSelect {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.gameArea {
    display: none;
    margin-top: 20px;
}

.userGuess {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    width: calc(100% - 24px);
    box-sizing: border-box;
}

.resultMessage {
    font-size: 18px;
    margin-top: 20px;
}

.trialsLeft {
    font-size: 16px;
    margin-top: 10px;
}

